@{
  ViewData["Title"] = "AngularJs Example";
}

<div class="container pl-0 pr-0 pb-3">
  <h1>AngularJs Example</h1>
  <hr />
</div>


@{
  await Html.RenderPartialAsync("_AngularJs");
}

@section Scripts{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@@aspnet/signalr@1.1.2/dist/browser/signalr.min.js"></script>
  <script src="~/ng-entity-signal/dist/ngEntitySignal.js" asp-append-version="true"></script>
  <script src="~/sampleApps/angularJs/testAngularApp.js" asp-append-version="true"></script>
}