@{
    ViewData["Title"] = "Blazor Example";
}

<div class="container pl-0 pr-0 pb-3">
    <h1>Blazor Example</h1>
    <hr />
</div>


@section Scripts{
    <script src="/_framework/blazor.webassembly.js"></script>
}


@section Styles{
    <link rel="stylesheet" href="  https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/a11y-dark.min.css" />
    <base href="/" />
}


<app>Loading...</app>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

