@model String;
@{
  ViewData["Title"] = "Quick Start";
  ViewData["ActiveNavItem"] = "Examples";
}
<div class="container pl-0 pr-0">
  <div class="row">
    <div class="col">
      <h1>Quick Start</h1>
      <hr />

      @Html.Raw(Markdig.Markdown.ToHtml(Model))
      <br />
    </div>
  </div>
</div>