@{
  ViewData["Title"] = "Examples";
  ViewData["ActiveNavItem"] = "Examples";
}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Examples</h1>
      <hr />

      <h3>Subscribe User To All Changes</h3>
      <p>Coming Soon</p>
      <br />

      <h3>Subscribe User To Specific Changes</h3>
      <p>Coming Soon</p>
      <br />

      <h3>Subscribe User Async</h3>
      <p>Coming Soon</p>
      <br />

      <h3>Unsubscribe User</h3>
      <p>Coming Soon</p>
      <br />
    </div>
  </div>
</div>