@{
  ViewData["Title"] = "Examples";
  ViewData["ActiveNavItem"] = "Examples";
}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Examples</h1>
      <p>Coming Soon</p>
    </div>
  </div>
</div>