@{
  ViewData["Title"] = "Real Time Entity Framework (EF) and ASP.NET core";
}
<br class="d-none d-sm-block" />

<div class="container pl-0 pr-0">
  <div class="row mt-3 mb-5">
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="mt-3">@ViewData["Title"]</h1>
          <p class="lead" style="font-weight:400">Make all of your data real time. Recieve updates no matter where the object was created or edited! Uses existing ASP.NET core permissions system.</p>
          <p class="pb-3">
            <img class="img-fluid" src="~/img/explainer/Explainer.gif" />
          </p>
          <p>
            <a class="btn btn-primary btn-block btn-lg" href="https://github.com/dustout/entitysignal" style="background-color:#C2255C;border-color:#b12355;font-size:1.32875rem"><i class="fab fa-github"></i> View On GitHub</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<br class="d-none d-sm-block" />
<br class="d-none d-sm-block" />

<div class="container pl-0 pr-0">
  <h2>Top 3 Features</h2>
  <hr />
  <h3>1 <small>Make all entity framework data real time</small></h3>
  <h3>2 <small>Use existing permissions</small></h3>
  <h3>3 <small>Database agnostic</small></h3>
</div>
<br />
<br />
<br />

<div class="container pl-0 pr-0">
  <h2>What is Entity Signal?</h2>
  <hr />
  <p>
    Entity Framework Core + SignalR = Entity Signal. Is the simplest way to think of it, basically Entity Signal allows you
    to connect to Entity Framework through SignalR and get updates on subscribed data in real time. This lowers the number
    of refreshes done by the user and ultimatly allows you to do more with fewer servers.
  </p>
</div>
<br />
<br />
<br />




<div class="container pl-0 pr-0">
  <h2>Example <small class="text-muted">(Open In Multiple Tabs for best experience)</small></h2>
  <hr />
</div>

<div ng-controller="testController">
  <div class="row">
    <div class="col text-center">

      <div ng-show="entitySignal.status == 2" ng-cloak class="card border-success mb-3">
        <div class="card-body">
          <p class="card-text">
            <strong class="text-success">Connected</strong> to entity framework through signalr
          </p>
        </div>
      </div>

      <div ng-show="entitySignal.status == 0" class="card mb-3">
        <div class="card-body">
          <p class="card-text">
            <strong>Disconnected</strong>
          </p>
        </div>
      </div>

      <div ng-show="entitySignal.status == 3" ng-cloak class="card mb-3 border-primary">
        <div class="card-body">
          <p class="card-text">
            <strong class="text-primary">Waiting</strong> for connectionId
          </p>
        </div>
      </div>

      <div ng-show="entitySignal.status == 1" ng-cloak class="card mb-3 border-primary">
        <div class="card-body">
          <p class="card-text">
            <strong class="text-primary">Connecting</strong> to entity framework through signalr
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-6">
      <button ng-click="createNew()" class="btn btn-primary btn-block btn-lg">Create 1 New</button>
    </div>
    <div class="col-6">
      <button ng-click="createFiveNew()" class="btn btn-primary btn-block btn-lg">Create 5 New</button>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col">
      <button ng-click="changeRandom()" class="btn btn-primary btn-block btn-lg">Change Random</button>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-6">
      <button ng-click="deleteAll()" class="btn btn-primary btn-block btn-lg">Delete All</button>
    </div>
    <div class="col-6">
      <button ng-click="deleteRandom()" class="btn btn-primary btn-block btn-lg">Delete Random</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <h4>Messages</h4>
      <h3 ng-show="messages == null"><i class="fas fa-spin fa-spinner"></i></h3>
      <pre ng-repeat="message in messages | orderBy:'-id' | limitTo:maxMessagesCount">{{message | json}}</pre>
      <button ng-cloak ng-hide="messages == null || maxMessagesCount==null || messages.length <= maxMessagesCount" class="btn btn-secondary btn-block" ng-click="maxMessagesCount=null"><i class="fas fa-arrow-down"></i> Show {{messages.length - maxMessagesCount }} More</button>
      <br />
    </div>
    <div class="col-sm-6 col-lg-3">
      <h4>Messages with odd id</h4>
      <h3 ng-show="filterMessages == null"><i class="fas fa-spin fa-spinner"></i></h3>
      <pre ng-repeat="filterMessages in filterMessages | orderBy:'-id' | limitTo:maxFilteredMessagesCount">{{filterMessages | json}}</pre>
      <button ng-cloak ng-hide="filterMessages == null || maxFilteredMessagesCount==null || filterMessages.length <= maxFilteredMessagesCount" class="btn btn-secondary btn-block" ng-click="maxFilteredMessagesCount=null"><i class="fas fa-arrow-down"></i> Show {{filterMessages.length - maxFilteredMessagesCount }} More</button>
      <br />
    </div>
    <div class="col-sm-6 col-lg-3">
      <h4>Jokes</h4>
      <h3 ng-show="jokes == null"><i class="fas fa-spin fa-spinner"></i></h3>
      <pre ng-repeat="joke in jokes | orderBy:'-id' | limitTo:maxJokesCount">{{joke | json}}</pre>
      <button ng-cloak ng-hide="jokes == null || maxJokesCount==null || jokes.length <= maxJokesCount" class="btn btn-secondary btn-block" ng-click="maxJokesCount=null"><i class="fas fa-arrow-down"></i> Show {{jokes.length - maxJokesCount }} More</button>
      <br />
    </div>
    <div class="col-sm-6 col-lg-3">
      <h4>Jokes with guid answer</h4>
      <h3 ng-show="guidJokes == null"><i class="fas fa-spin fa-spinner"></i></h3>
      <pre ng-repeat="joke in guidJokes | orderBy:'-id' | limitTo:maxGuidJokesCount">{{joke | json}}</pre>
      <button ng-cloak ng-hide="guidJokes == null || maxGuidJokesCount==null || guidJokes.length <= maxGuidJokesCount" class="btn btn-secondary btn-block" ng-click="maxGuidJokesCount=null"><i class="fas fa-arrow-down"></i> Show {{guidJokes.length - maxGuidJokesCount }} More</button>
      <br />
    </div>
  </div>
</div>

@section Scripts{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@@aspnet/signalr@1.1.2/dist/browser/signalr.min.js"></script>
  <script src="~/dist/entitySignal.js" asp-append-version="true"></script>
  <script src="~/dist/ngEntitySignal.js" asp-append-version="true"></script>
  <script src="~/dist/testAngularApp.js" asp-append-version="true"></script>
}
