@{
  ViewData["Title"] = "Home Page";
}


<div ng-controller="testController">
  <div class="row">
    <div class="col-6">
      <button ng-click="createNew()" class="btn btn-primary btn-block btn-lg">Create 1 New</button>
    </div>
    <div class="col-6">
      <button ng-click="createFiveNew()" class="btn btn-primary btn-block btn-lg">Create 5 New</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <button ng-click="changeRandom()" class="btn btn-primary btn-block btn-lg">Change Random</button>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col">
      <button ng-click="deleteAll()" class="btn btn-primary btn-block btn-lg">Delete All</button>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-3">
      <button ng-click="subscribeToMessages()" class="btn btn-primary btn-block btn-lg">Subscribe To Messages</button>
    </div>
    <div class="col-3">
      <button ng-click="subscribeToOddIdMessages()" class="btn btn-primary btn-block btn-lg">Subscribe Odd Id Messages</button>
    </div>
    <div class="col-3">
      <button ng-click="subscribeToJokes()" class="btn btn-primary btn-block btn-lg">Subscribe To Jokes</button>
    </div>
    <div class="col-3">
      <button ng-click="subscribeToGuidJokes()" class="btn btn-primary btn-block btn-lg">Subscribe GUID Jokes</button>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-3">
      <pre ng-repeat="message in messages">{{message | json}}</pre>
    </div>
    <div class="col-3">
      <pre ng-repeat="filterMessages in filterMessages">{{filterMessages | json}}</pre>
    </div>
    <div class="col-3">
      <pre ng-repeat="joke in jokes">{{joke | json}}</pre>
    </div>
    <div class="col-3">
      <pre ng-repeat="joke in guidJokes">{{joke | json}}</pre>
    </div>
  </div>
</div>

@section Scripts{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
  <script src="~/lib/signalr/dist/browser/signalr.js"></script>
  <script src="~/ts/data.js" asp-append-version="true"></script>
}
