@model String;
@{
  ViewData["Title"] = "Quick Start";
  ViewData["ActiveNavItem"] = "Examples";
}
<div class="container pl-0 pr-0">
  <div class="row">
    <div class="col">
      <h1>Quick Start</h1>
      <hr />

      @Html.Raw(Markdig.Markdown.ToHtml(Model))
      <br />
    </div>
  </div>
</div>

@section Styles{
  <link rel="stylesheet" href="  https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/a11y-dark.min.css" />
}

@section Scripts{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/cs.min.js"></script>

  <script>
    hljs.initHighlightingOnLoad();
  </script>
}