<div ng-controller="testController">
  <div class="row">
    <div class="col text-center">

      <div ng-show="entitySignal.status == 2" ng-cloak class="card border-success mb-3">
        <div class="card-body">
          <p class="card-text">
            <strong class="text-success">Connected</strong> to entity framework through SignalR
          </p>
        </div>
      </div>

      <div ng-show="entitySignal.status == 0" class="card mb-3">
        <div class="card-body">
          <p class="card-text">
            <strong>Disconnected</strong>
          </p>
        </div>
      </div>

      <div ng-show="entitySignal.status == 3" ng-cloak class="card mb-3 border-primary">
        <div class="card-body">
          <p class="card-text">
            <strong class="text-primary">Waiting</strong> for connectionId
          </p>
        </div>
      </div>

      <div ng-show="entitySignal.status == 1" ng-cloak class="card mb-3 border-primary">
        <div class="card-body">
          <p class="card-text">
            <strong class="text-primary">Connecting</strong> to entity framework through SignalR
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-6">
      <button ng-click="createNew()" class="btn btn-primary btn-block btn-lg">Create 1 New</button>
    </div>
    <div class="col-6">
      <button ng-click="createFiveNew()" class="btn btn-primary btn-block btn-lg">Create 5 New</button>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col">
      <button ng-click="changeRandom()" class="btn btn-primary btn-block btn-lg">Change Random</button>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-6">
      <button ng-click="deleteAll()" class="btn btn-primary btn-block btn-lg">Delete All</button>
    </div>
    <div class="col-6">
      <button ng-click="deleteRandom()" class="btn btn-primary btn-block btn-lg">Delete Random</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <h4>Messages</h4>
      <h3 ng-show="messages == null"><i class="fas fa-spin fa-spinner"></i></h3>
      <pre ng-repeat="message in messages | orderBy:'-id' | limitTo:maxMessagesCount">{{message | json}}</pre>
      <button ng-cloak ng-hide="messages == null || maxMessagesCount==null || messages.length <= maxMessagesCount" class="btn btn-secondary btn-block" ng-click="maxMessagesCount=null"><i class="fas fa-arrow-down"></i> Show {{messages.length - maxMessagesCount }} More</button>
      <br />
    </div>
    <div class="col-sm-6 col-lg-3">
      <h4>Messages with odd id</h4>
      <h3 ng-show="filterMessages == null"><i class="fas fa-spin fa-spinner"></i></h3>
      <pre ng-repeat="filterMessages in filterMessages | orderBy:'-id' | limitTo:maxFilteredMessagesCount">{{filterMessages | json}}</pre>
      <button ng-cloak ng-hide="filterMessages == null || maxFilteredMessagesCount==null || filterMessages.length <= maxFilteredMessagesCount" class="btn btn-secondary btn-block" ng-click="maxFilteredMessagesCount=null"><i class="fas fa-arrow-down"></i> Show {{filterMessages.length - maxFilteredMessagesCount }} More</button>
      <br />
    </div>
    <div class="col-sm-6 col-lg-3">
      <h4>Jokes</h4>
      <h3 ng-show="jokes == null"><i class="fas fa-spin fa-spinner"></i></h3>
      <pre ng-repeat="joke in jokes | orderBy:'-id' | limitTo:maxJokesCount">{{joke | json}}</pre>
      <button ng-cloak ng-hide="jokes == null || maxJokesCount==null || jokes.length <= maxJokesCount" class="btn btn-secondary btn-block" ng-click="maxJokesCount=null"><i class="fas fa-arrow-down"></i> Show {{jokes.length - maxJokesCount }} More</button>
      <br />
    </div>
    <div class="col-sm-6 col-lg-3">
      <h4>Jokes with guid answer</h4>
      <h3 ng-show="guidJokes == null"><i class="fas fa-spin fa-spinner"></i></h3>
      <pre ng-repeat="joke in guidJokes | orderBy:'-id' | limitTo:maxGuidJokesCount">{{joke | json}}</pre>
      <button ng-cloak ng-hide="guidJokes == null || maxGuidJokesCount==null || guidJokes.length <= maxGuidJokesCount" class="btn btn-secondary btn-block" ng-click="maxGuidJokesCount=null"><i class="fas fa-arrow-down"></i> Show {{guidJokes.length - maxGuidJokesCount }} More</button>
      <br />
    </div>
  </div>
</div>


